@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

:root {
  --dark-gray: #141414;
  --light-gray: #1f1f1f;
  --lighter-gray: #333333;
  --white: #fff;
  --yellow: #c5f82a;
}

body {
  background-color: var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: var(--light-gray);
  width: 384px;
  height: 620px;
  border-radius: 12px;
  padding: 2rem;
  margin: 2rem 2rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.8rem 0;
}

.profile__image img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.profile__name {
  color: var(--white);
  margin-top: 1rem;
}

.profile__address {
  color: var(--yellow);
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

.profile__bio {
  color: var(--white);
  font-size: 0.9rem;
}

.links {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 0 0;
}

.link {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--lighter-gray);
  border-radius: 8px;
  margin: 0.5rem 0;
  padding: 0.6rem;
}

.link a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.9rem;
  padding: 0.3rem;
}

.link:hover {
  background-color: var(--yellow);
  color: var(--dark-gray);
  cursor: pointer;
}

.link:hover a {
  color: var(--dark-gray);
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
    margin: 2rem auto;
  }
}
